.main_body {
    background: url('http://dofega.ru/uploads/posts/2015-03/1425464802_artleo.com-17873.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 65% center;
}